body{
    padding: 100px;
}
.submit-area{
    margin-top: 100px;
    padding: 30px;
    border-radius: 10px;
    box-shadow:10px 10px 10px green;
}
.design{
 background-image: linear-gradient(180,rgb(65, 124, 65),green);
 
 
}
#Transaction-area{
    display:none;
}
.withdraw{
    background-color:lightsalmon;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow:10px 10px 10px gray;
    border-radius: 10px;

}
.deposit{
    background-color:slateblue;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow:10px 10px 10px gray;
    border-radius: 10px;
}
.balance{
    background-color: orange;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    box-shadow:10px 10px 10px gray;
    border-radius: 10px;
}